<app-background-stars [numberOfStars]="30"></app-background-stars>

@if (authService.isLoggedIn()){
    <form [formGroup]="deleteAccountForm" (ngSubmit)="onAccountDeletionSubmit()">

        <h1>Account deletion</h1>

        <p>
            <strong>This action is IRREVERSIBLE and PERMANENT.</strong><br>
            <br>
            Your claimed solar systems will become <strong>available for other explorers</strong> to claim.
            Your cosmic creations will remain in the galaxy, but ownership will be lost.
        </p>

        <br>

        <label for="confirmationText" class="screen-reader-only">Type DELETE</label>        
        <input type="text" id="confirmationText" formControlName="confirmationText" placeholder='Type "DELETE" to confirm'>
        @if (formValidator.isInvalid(deleteAccountForm, 'confirmationText')) {
            <p class="error-message">{{ formValidator.getErrorMessage(deleteAccountForm, 'confirmationText') }}</p>
        }

        <label for="currentPassword" class="screen-reader-only">Current Password</label>        
        <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Current password">
        @if (formValidator.isInvalid(deleteAccountForm, 'currentPassword')) {
            <p class="error-message">{{ formValidator.getErrorMessage(deleteAccountForm, 'currentPassword') }}</p>
        }

        @if (errorMessage){
            <div class="error-message">{{ errorMessage }}</div>
        }

        <button type="submit" [disabled]="!deleteAccountForm.valid" class="delete-btn">DELETE MY ACCOUNT FOREVER</button>
    </form>
}
