@if (this.isValidToken){
    <div class="reset-password-container">
        <h2>Reset your password</h2>
        <p>
            To reset your account password, please complete the form below.
        </p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onPasswordResetSubmit()" >
            <input type="password" formControlName="newPassword" placeholder="New password">
            <input type="password" formControlName="newPasswordBis" placeholder="Repeat new password">

            @if (resetPasswordForm.hasError('newPasswordMismatch') && resetPasswordForm.touched) {
            <small class="error">New passwords do not match</small>
            }

            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="stars-container"></div>
}
