@if (this.isValidToken) {
    <app-background-stars [numberOfStars]="30"></app-background-stars>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onPasswordResetSubmit()" class="flex-column">
        <h2>Reset your password</h2>
        <p>To reset your password, please complete the form below.</p>

        <input type="password" formControlName="newPassword" placeholder="New password">
        @if (formValidator.isInvalid(resetPasswordForm, 'newPassword')) {
            <div class="error-message">{{ formValidator.getErrorMessage(resetPasswordForm, 'newPassword') }}</div>
        }

        <input type="password" formControlName="newPasswordBis" placeholder="Repeat new password">
        @if (formValidator.isInvalid(resetPasswordForm, 'newPasswordBis')) {
            <div class="error-message">{{ formValidator.getErrorMessage(resetPasswordForm, 'newPasswordBis') }}</div>
        }

        @if (resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.touched) {
            <div class="error-message">{{ formValidator.getFormErrorMessage(resetPasswordForm, 'passwordsMismatch') }}</div>
        }

        @if (errorMessage){
            <div class="error-message">{{ errorMessage }}</div>
        }
        <button type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
    </form>
}