@if (authService.isLoggedIn() && user) {

<app-background-stars [numberOfStars]="30"></app-background-stars>

<div class="profile-container flex-column">
  <!-- User Info -->
  <div class="profile-header">
    <h1>{{ user.user_login | titlecase}}</h1>
    <p class="join-date">Joined {{ user.user_date_inscription | date }}</p>
  </div>

  <!-- Systems List -->
  <div class="systems-section flex-column">
    <h2>Systems ({{ solarSystems.length }})</h2>

    @if (solarSystems.length > 0) {
    <div class="systems-list flex-column">
      @for (solarSystem of solarSystems; track solarSystem.solar_system_id) {
      <div class="system-item flex">
        <div class="system-info">
          <h3><strong>{{ solarSystem.solar_system_name }}</strong></h3>
          <div class="system-stats flex">
            <div class="flex">
              <span>{{ solarSystem.planets.length }} Planets</span>
              <span>{{ getTotalMoons(solarSystem) }} Moons</span>
            </div>
            <div class="flex">
              <span>{{ solarSystem.likes_count }} Likes</span>
              <span>{{ solarSystem.wallpaper ? '1 Wallpaper' : '' }}</span>
            </div>
          </div>
        </div>

        <div class="system-actions flex">
          @if (solarSystem.wallpaper) {
          <button (click)="viewWallpaper(solarSystem.solar_system_id)">View Wallpaper</button>
          }
          <button (click)="viewSystem(solarSystem.solar_system_id)">View System</button>
          @if (canLike) {
          <button 
            (click)="toggleLike(LikeableType.SOLAR_SYSTEM, solarSystem)"
            [class.liked]="solarSystem.is_liked"
            [class.not-liked]="!solarSystem.is_liked">
            {{ solarSystem.is_liked ? 'Unlike' : 'Like' }}
          </button>
          }
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="no-systems flex">
      <p>No systems found.</p>
    </div>
    }
  </div>

  <!-- Top Liked Elements -->
  <div class="top-liked-section flex-column">
    <h2>Most Liked</h2>
    <div class="top-liked-grid">

      <div class="top-liked-item flex-column">
        @if (topLikedSystem) {
        <div class="liked-content flex-column">
          <div class="top">
            <h3>Top System</h3>
          </div>
          <div class="center flex-column">
            <span class="name">{{ topLikedSystem.solar_system_name }}</span>
            <span class="likes">{{ topLikedSystem.likes_count }} likes</span>
          </div>
          @if (canLike) {
          <div class="bottom">
            <button 
              (click)="toggleLike(LikeableType.SOLAR_SYSTEM, topLikedSystem)"
              [class.liked]="topLikedSystem.is_liked"
              [class.not-liked]="!topLikedSystem.is_liked">
              {{ topLikedSystem.is_liked ? 'Unlike' : 'Like' }}
            </button>
          </div>
          }
        </div>
        } @else {
        <span class="no-data flex">No system</span>
        }
      </div>

      <div class="top-liked-item flex-column">
        @if (topLikedPlanet) {
        <div class="liked-content flex-column">
          <div class="top">
            <h3>Top Planet</h3>
          </div>
          <div class="center flex-column">
            <span class="name">{{ topLikedPlanet.planet_name }}</span>
            <span class="likes">{{ topLikedPlanet.likes_count }} likes</span>
          </div>
          @if (canLike) {
          <div class="bottom">
            <button 
              (click)="toggleLike(LikeableType.PLANET, topLikedPlanet)"
              [class.liked]="topLikedPlanet.is_liked"
              [class.not-liked]="!topLikedPlanet.is_liked">
              {{ topLikedPlanet.is_liked ? 'Unlike' : 'Like' }}
            </button>
          </div>
          }
        </div>
        } @else {
        <span class="no-data flex">No planet</span>
        }
      </div>

      <div class="top-liked-item flex-column">
        @if (topLikedMoon) {
        <div class="liked-content flex-column">
          <div class="top">
            <h3>Top Moon</h3>
          </div>
          <div class="center flex-column">
            <span class="name">{{ topLikedMoon.moon_name }}</span>
            <span class="likes">{{ topLikedMoon.likes_count }} likes</span>
          </div>
          @if (canLike) {
          <div class="bottom">
            <button 
              (click)="toggleLike(LikeableType.MOON, topLikedMoon)"
              [class.liked]="topLikedMoon.is_liked"
              [class.not-liked]="!topLikedMoon.is_liked">
              {{ topLikedMoon.is_liked ? 'Unlike' : 'Like' }}
            </button>
          </div>
          }
        </div>
        } @else {
        <span class="no-data flex">No moon</span>
        }
      </div>

      <div class="top-liked-item flex-column">
        @if (topLikedWallpaper) {
        <div class="liked-content flex-column">
          <div class="top">
            <h3>Top Wallpaper</h3>
          </div>
          <div class="center flex-column">
            <span class="name">{{ getSystemNameByWallpaperId(topLikedWallpaper.wallpaper_id) }}</span>
            <span class="likes">{{ topLikedWallpaper.likes_count }} likes</span>
          </div>
          @if (canLike) {
          <div class="bottom">
            <button 
              (click)="toggleLike(LikeableType.WALLPAPER, topLikedWallpaper)"
              [class.liked]="topLikedWallpaper.is_liked"
              [class.not-liked]="!topLikedWallpaper.is_liked">
              {{ topLikedWallpaper.is_liked ? 'Unlike' : 'Like' }}
            </button>
          </div>
          }
        </div>
        } @else {
        <span class="no-data flex">No wallpaper</span>
        }
      </div>
    </div>
  </div>

</div>
}