@if (this.authService.isLoggedIn()){
<app-background-stars [numberOfStars]="30"></app-background-stars>

    <form [formGroup]="changeEmailForm" (ngSubmit)="onEmailChangeSubmit()" class="flex-column">
        <h2>Change your email address</h2>
        <p>
            To update the email address associated with your account, please complete the form below.
            You will need to confirm your current password for security reasons.
            After submitting the request, you will be automatically logged out, and you’ll need to log in again using your
            new email address.
        </p>

        <label for="password" class="screen-reader-only">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Current password">
        @if (formValidator.isInvalid(changeEmailForm, 'password')) {
            <div class="error-message">{{ formValidator.getErrorMessage(changeEmailForm, 'password') }}</div>
        }

        <label for="passwordBis" class="screen-reader-only">Password again</label>
        <input type="password" id="passwordBis" formControlName="passwordBis" placeholder="Repeat current password">
        @if(formValidator.isInvalid(changeEmailForm, 'passwordBis')) {
            <div class="error-message">{{ formValidator.getErrorMessage(changeEmailForm, 'passwordBis') }}</div>
        }

        @if (changeEmailForm.hasError('passwordMatch') && changeEmailForm.get('passwordBis')?.touched) {
            <div class="error-message">{{ formValidator.getFormErrorMessage(changeEmailForm, 'passwordMatch') }}</div>
        }

        <label for="email" class="screen-reader-only">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="New email">
        @if (formValidator.isInvalid(changeEmailForm, 'email')) {
            <div class="error-message">{{ formValidator.getErrorMessage(changeEmailForm, 'email') }}</div>
        }

        <label for="emailBis" class="screen-reader-only">Email again</label>
        <input type="email" id="emailBis" formControlName="emailBis" placeholder="Repeat new email">
        @if (formValidator.isInvalid(changeEmailForm, 'emailBis')) {
            <div class="error-message">{{ formValidator.getErrorMessage(changeEmailForm, 'emailBis') }}</div>
        }

        @if (changeEmailForm.hasError('emailMatch') && changeEmailForm.get('emailBis')?.touched) {
            <div class="error-message">{{ formValidator.getFormErrorMessage(changeEmailForm, 'emailMatch') }}</div>
        }

        @if (changeEmailErrorMessage){
            <div class="error-message">{{changeEmailErrorMessage}}</div>
        }

        <button type="submit">Submit</button>
    </form>

}