<app-background-stars [numberOfStars]="30"></app-background-stars>

@if (!authService.isLoggedIn()){
  <div class="container">

    <form (ngSubmit)="onRegisterSubmit()" [formGroup]="registerForm" class="flex-column">
      <h1>Register</h1>

      <label for="login" class="screen-reader-only">Login</label>
      <input type="text" id="login" placeholder="Login" formControlName="login" [class.valid]="formValidator.isValid(registerForm, 'login')" [class.invalid]="formValidator.isInvalid(registerForm, 'login')">
      @if (formValidator.isInvalid(registerForm, 'login')) {
        <div class="error-message">{{ formValidator.getErrorMessage(registerForm, 'login') }}</div>
      }

      <label for="email" class="screen-reader-only">Email</label>
      <input type="email" id="email" placeholder="Email" formControlName="email" [class.valid]="formValidator.isValid(registerForm, 'email')" [class.invalid]="formValidator.isInvalid(registerForm, 'email')">
      @if (formValidator.isInvalid(registerForm, 'email')) {
        <div class="error-message">{{ formValidator.getErrorMessage(registerForm, 'email') }}</div>
      }

      <label for="password" class="screen-reader-only">Password</label>
      <input type="password" id="password" placeholder="Password" formControlName="password">
      @if (formValidator.isInvalid(registerForm, 'password')) {
        <div class="error-message">{{ formValidator.getErrorMessage(registerForm, 'password') }}</div>
      }
      
      <label for="passwordBis" class="screen-reader-only">Password again</label>
      <input type="password" id="passwordBis" placeholder="Password Confirmation" formControlName="passwordBis">
      @if (formValidator.isInvalid(registerForm, 'passwordBis')) {
        <div class="error-message">{{ formValidator.getErrorMessage(registerForm, 'passwordBis') }}</div>
      }
      @if (registerForm.errors?.['passwordMatch'] && submitted) {
        <div class="error-message">Passwords do not match</div>
      }
      @if (registrationError){
        <div class="error-message">{{ registrationError }}</div>
      }

      <button type="submit">Register</button>
    </form>

  </div>

}