<nav class="floating-navbar" [class.navbar-hidden]="!isNavbarVisible">
  
    <div class="left-part">
      <h1 class="logo" (click)="navigateTo('home')">CosmiCrowd</h1>
      <div class="search-container" #searchContainer>
        <label for="search-input" class="screen-reader-only">Search Bar</label>
        <input 
          type="text" 
          placeholder="Search solar systems..." 
          class="search-input" 
          id="search-input" 
          [(ngModel)]="searchQuery"
          (keydown.enter)="onSearch()"
          #searchInput
        >
        <button class="filter-btn" (click)="toggleFilters()">🔧</button>
        <button class="search-btn" (click)="onSearch()">🔍</button>
        
        @if (isFiltersOpen) {
          <div class="dropdown-filters" #filtersDropdown>
            <p>Filters</p>
            <div class="filter-item">
              <input type="checkbox" id="users-filter" [(ngModel)]="filters.users">
              <label for="users-filter">Users</label>
            </div>
            <div class="filter-item">
              <input type="checkbox" id="systems-filter" [(ngModel)]="filters.systems">
              <label for="systems-filter">Systems</label>
            </div>
            <div class="filter-item">
              <input type="checkbox" id="planets-filter" [(ngModel)]="filters.planets">
              <label for="planets-filter">Planets</label>
            </div>
            <div class="filter-item">
              <input type="checkbox" id="moons-filter" [(ngModel)]="filters.moons">
              <label for="moons-filter">Moons</label>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="right-part" #rightPart>
      <button class="menu-btn" (click)="toggleMenu()">☰</button>
      
      @if (isMenuOpen){
        <div class="dropdown-menu" #userDropdown>
          <button (click)="navigateTo('/')">Home</button>
          <button (click)="navigateTo('/new-popular')">New & Popular</button>
          <button (click)="navigateTo('/contact')">Contact</button>
        @if(this.authService.isLoggedIn()){
          <button (click)="navigateTo('/systems')">Systems</button>
          <button (click)="navigateToProfile()">Profile</button>
          <button (click)="navigateTo('/account')">Account</button>
          <button (click)="logout()">Disconnect</button>
        } @else {
          <button (click)="navigateTo('/login')">Login / Register</button>
        }
        </div>
      }
    </div>
</nav>