@if (this.authService.isLoggedIn()){
<app-background-stars [numberOfStars]="30"></app-background-stars>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChangeSubmit()" class="flex-column" >
        <h2>Change your password</h2>
        <p>
            To update your account password, please complete the form below.
            You will need to confirm your current password for security reasons.
            After submitting the request, you will be automatically logged out, and you'll need to log in again using your new password.
        </p>

        <input type="password" formControlName="currentPassword" placeholder="Current password">
        @if (formValidator.isInvalid(changePasswordForm, 'currentPassword')) {
            <small class="error-message">{{ formValidator.getErrorMessage(changePasswordForm, 'currentPassword') }}</small>
        }

        <input type="password" formControlName="currentPasswordBis" placeholder="Repeat current password">
        @if (formValidator.isInvalid(changePasswordForm, 'currentPasswordBis')) {
            <small class="error-message">{{ formValidator.getErrorMessage(changePasswordForm, 'currentPasswordBis') }}</small>
        }

        @if (changePasswordForm.hasError('passwordMatch') && changePasswordForm.get('currentPasswordBis')?.touched) {
            <small class="error-message">{{ formValidator.getFormErrorMessage(changePasswordForm, 'passwordMatch') }}</small>
        }

        <input type="password" formControlName="newPassword" placeholder="New password">
        @if (formValidator.isInvalid(changePasswordForm, 'newPassword')) {
            <small class="error-message">{{ formValidator.getErrorMessage(changePasswordForm, 'newPassword') }}</small>
        }

        <input type="password" formControlName="newPasswordBis" placeholder="Repeat new password">
        @if (formValidator.isInvalid(changePasswordForm, 'newPasswordBis')) {
            <small class="error-message">{{ formValidator.getErrorMessage(changePasswordForm, 'newPasswordBis') }}</small>
        }

        @if (changePasswordForm.hasError('newPasswordMatch') && changePasswordForm.get('newPasswordBis')?.touched) {
            <small class="error-message">{{ formValidator.getFormErrorMessage(changePasswordForm, 'newPasswordMatch') }}</small>
        }

        @if (changePasswordErrorMessage){
            <div class="error-message">{{changePasswordErrorMessage}}</div>
        }

        <button type="submit" [disabled]="!formValidator.canSubmit(changePasswordForm)">Submit</button>
    </form>
}