@if (modalData) {
  <div class="modal-overlay" (click)="onCancel()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header flex">
        <h2>{{ modalData.title }}</h2>
        <button class="close-btn" (click)="onCancel()">×</button>
      </div>
      <div class="modal-body">
        <div id="content" [innerHTML]="getSanitizedContent()"></div>
      </div>
      <div class="modal-footer">
        @if (modalData.showView) {
          <button class="btn btn-secondary" (click)="onView()">View</button>
        }
        @if (modalData.showClaim) {
          <button class="btn btn-secondary" (click)="onClaim()">Claim</button>
        }
        @if (modalData.showConfirm){
          <button class="btn btn-primary" (click)="onConfirm()">OK</button>
        }
        @if (modalData.showCancel) {
          <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        }
      </div>
    </div>
  </div>
}