/* Form */
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(20, 20, 40, 0.8);
    padding: 40px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 360px;
    text-align: center;
    gap: 10px;

    h1 { 
        margin-bottom: 2rem; 
        font-weight: 300;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        background: #222;
        border: 1px solid #444;
        border-radius: 4px;
        color: white; 
    }

    button {
        width: 100%; 
        padding: 10px; 
        margin: 30px 0 30px 0; 
        background: linear-gradient(45deg, #667eea, #764ba2); 
        border: none; 
        border-radius: 4px; 
        color: white; 
        cursor: pointer; 
    }

    a {
        color: #888;
        text-decoration: none;
        font-size: 14px;
    }

    .forgot-register-actions {
        gap: 10px;
    }
}
