<app-background-stars [numberOfStars]="30"></app-background-stars>

<form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()" class="flex-column">
    <h2>Contact</h2>

    <p>
        Please fill this form to contact us
    </p>
    <label for="email" class="screen-reader-only">Email</label>
    <input type="email" formControlName="email" id="email" placeholder="your.email@mail.com" [class.invalid]="formValidator.isInvalid(contactForm, 'email')" [class.valid]="formValidator.isValid(contactForm, 'email')">
    @if (formValidator.isInvalid(contactForm, 'email')) {
        <p class="error-message">{{ formValidator.getErrorMessage(contactForm, 'email') }}</p>
    }

    <label for="login" class="screen-reader-only">Login</label>
    <input type="text" formControlName="login" id="login" placeholder="Login">

    <label for="subject" class="screen-reader-only">Subject</label>
    <input type="text" formControlName="subject" id="subject" placeholder="Subject">

    <label for="message" class="screen-reader-only">Your message</label>
    <textarea formControlName="message" placeholder="Your message" id="message" [class.invalid]="formValidator.isInvalid(contactForm, 'message')" [class.valid]="formValidator.isValid(contactForm, 'message')"></textarea>
    @if (formValidator.isInvalid(contactForm, 'message')) {
        <p class="error-message">{{ formValidator.getErrorMessage(contactForm, 'message') }}</p>
    }

    @if (contactError) {
        <div class="error-message">{{ contactError }}</div>
      }

    <button type="submit">Submit</button>
</form>