<app-background-stars [numberOfStars]="30"></app-background-stars>

    <div class="forgot-password-container flex-column">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" >
            <h2>Forgot your password</h2>

            <p>
                To recoverd your password, please complete the form below.
            </p>

            <input type="email" formControlName="email" placeholder="your.email@mail.com">

            <button type="submit">Submit</button>
        </form>
    </div>