
    <div class="forgot-password-container">
        <h2>Forgot your password</h2>
        <p>
            To recoverd your account password, please complete the form below.
        </p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" >
            <input type="email" formControlName="email" placeholder="your.email@mail.com">

            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="stars-container"></div>
<div class="stars-container"></div>