<app-background-stars [numberOfStars]="30"></app-background-stars>

@if (!authService.isLoggedIn()){
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" class="flex-column">
        <h2>Forgot your password</h2>

        <p>
            To recoverd your password, please complete the form below.
        </p>

        <label for="email" class="screen-reader-only">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="your.email@mail.com">

        <button type="submit">Submit</button>
    </form>
}
