.system-view-container {
    width: 90%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.render-system {
    display: flex;
    flex: 1;
    border: 1px solid gray;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}